## Exercises
### Functions

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "www.nus.edu.sg"
url.split(".")[1]

'nus'

In [3]:
def website_domain(url):
    return url.split(".")[1]

In [4]:
website_domain("www.google.com")

'google'

In [5]:
def divisible(a, b):
    if a % b == 0:
        return True
    else:
        return False

In [6]:
divisible(100, 3)

False

### Pandas

In [8]:
from pydataset import data
airquality = data("airquality")
airquality.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2
3   12.0    149.0  12.6    74      5    3
4   18.0    313.0  11.5    62      5    4
5    NaN      NaN  14.3    56      5    5

In [9]:
airquality.info()

<class 'pandas.core.frame.DataFrame'>
Index: 153 entries, 1 to 153
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 8.4 KB

In [10]:
airquality["Month"].describe()

count    153.000000
mean       6.993464
std        1.416522
min        5.000000
25%        6.000000
50%        7.000000
75%        8.000000
max        9.000000
Name: Month, dtype: float64

In [11]:
airquality["Month"].unique()

array([5, 6, 7, 8, 9])

In [14]:
df_summer = airquality.query("Month <= 6")

In [16]:
df_fall = airquality[airquality["Month"].isin([7, 8, 9])]